<!--Lines 29-77 were adapted from ByteGrad "https://www.youtube.com/watch?v=nMuwgcG-8xU&list=PLK5U0tyd34tDd-uvHeZ9oXb0vGIDhy5v1"-->


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*BODY*/

body {
  background: #080808;
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  color: #f59394;
}

ul {
  list-style: none;
}

/*HEADER*/
/*weather*/
/*github desktop trial*/

.header {
  background-color: rgb(83, 6, 6);
  width: 100%;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.header,
.header__content,
.nav__list {
  margin: 0;
  padding: 0;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  max-width: none;
  padding: 0;
  margin: 0 auto;
}

#logo {
  font-weight: 600;
  font-size: 2rem;
  display: inline;
  padding-left: 20px;
}

.nav__list {
  display: flex;
  column-gap: 40px;
  padding-right: 20px;
}

.nav__link {
  color: #f59394;
  position: relative;
  transition: all 0.4s;
}

.nav__link:hover,
.nav__link:focus {
  color: rgb(225, 209, 210);
}

.nav__link::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: rgb(225, 209, 210);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: all 0.2s;
  opacity: 0;
  pointer-events: none;
}

.nav__link:hover::after {
  width: 100%;
  opacity: 1;
}

/*MEDIA QUERIES HEADER*/

@media screen and (max-width: 620px) {
  .header__content {
    flex-direction: column;
    padding-bottom: 10px;
    width: 100%;
  }
}

@media screen and (min-width: 625px) {
  .header__content {
    font-size: 20px;
  }
}

/*ask about galaxy fold dimentions*/

/*MAIN*/

h1 {
  padding-right: 150px;
  padding-left: 250px;
  color: #f59394;
}

.main-text {
  text-align: center;
  line-height: 2;
}

@media screen and (max-width: 620px) {
  .main-text {
    font-size: 18px;
  }

  h1 {
    font-size: small;
    padding: 10px;
  }

  .main-container {
    padding: 30px;
  }

  .main-img {
    width: 50px;
  }
}

.main-img {
  width: 50%;
  margin-left: 0px;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 10px;
  padding-bottom: 60px;
}
/*ask about home page inspect*/

/*CATEGORY SECTION*/

@media screen and (min-width: 520px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 750px) {
  .category-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

figure {
  margin-left: 0%;
}

.category-image {
  width: 100%;
  margin-left: 15px;
}

figcaption {
  margin-left: 15px;
  padding-bottom: 60px;
  font-size: 18px;
}

.portfolio__h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/*DETAILED PAGE*/

.gdw-img {
  display: block;
  justify-content: center;
  padding-inline: 100px;
  width: 70%;
}

.gdw__h1 {
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding-inline: 200px;
}

.gdw-text {
  padding: 30px;
  margin: 60px;
}

@media screen and (max-width: 620px) {
  .gdw-text {
    padding: 5px;
    margin: 20px;
    padding-bottom: 50px;
  }
}

/*FOOTER*/

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin-top: 4rem;
  border-top: 2px solid;
  display: flex;
  align-items: center;
  background-color: rgb(83, 6, 6);
}

p {
  color: #f59394;
}

/*contact page*/

.button {
  font-family: Playfair Display;
  padding: 14px 60px;
  font-size: 20px;
  margin: 15px;
  border-radius: 6px;
  animation-name: shake;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  background-color: #741113;
  color: #f59394;
}

@keyframes shake {
  25% {
    transform: scale(1.2);
  }

  40% {
    transform: rotate(-15deg) scale(1.1);
  }

  50% {
    transform: rotate(15deg) scale(1.1);
  }

  60% {
    transform: rotate(-15deg) scale(1.1);
  }

  70% {
    transform: rotate(15deg) scale(1.1);
  }

  80% {
    transform: rotate(-15deg) scale(1.1);
  }

  90% {
    transform: rotate(15deg) scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.contact-form {
  width: 100%;
  padding-left: 30px;
}

form input,
form textarea {
  width: 50%;
  border: 0;
  outline: #f59394;
  background-color: #f59394;
  padding: 20px;
  margin: 15px 0;
  font-size: 18px;
  border-radius: 6px;
}

.contact__h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 620px) {
  .contact__h1 {
    font-size: 24px;
  }

  .contact-form {
    justify-content: center;
    padding-inline: 70px;
  }
}
